@charset "UTF-8";

#setDiv {
   text-align: center;
}

#mask {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 888;
   background-color: #000;
   display: none;
}

#window {
   display: none;
   background-color: #ffffff;
   height: 200px;
   z-index: 999;
   width: 600px;
   height: 250px;
   border: 1px;
   solid: #ccc;
   position: fixed;
}

#sidemenu {
   width: 450px;
   height: 100vh;
   padding-top: 70px;
   float: right;
   background-color: #393939;
}

#map {
   position: absolute;
   /* padding-left: 100px; */
   width: calc(100% - 450px);
   height: 100vh;
   float: left;
}

.area {
   position: absolute;
   background: #fff;
   border: 1px solid #888;
   border-radius: 3px;
   font-size: 12px;
   top: -5px;
   left: 15px;
   padding: 2px;
}

* {
   margin: 0;
   padding: 0;
}

.accordian {
   list-style: none
}

.accordian--box {
   margin-bottom: 5px;
}

.accordian--box h3 {
   background: #333;
   padding: 5px;
   color: #fff;
   cursor: pointer
}

.accordian--box h4 {
   background: #ccc;
   padding: 5px;
}

.pin{
   background:white;
   overflow:hidden;
   height: auto;
   border: 1px solid black;
   clear: left;
   border-radius: 12px;
   }
   
.p{
    text-align:left;
   }
   
.sideBtn{
   background-color: #4CAF50;
   color: white;
   padding: 12px 30px;
   font-size: 16px;
   border-radius: 12px;
   width: auto;
   }
   
#searchBox{
   position: absolute;
   float: right;
   background-color: #4CAF50;
   height : 50px;
   top: 70px;
   right: 25%;
   
   }

.glyphicon-remove{
   float: right;
   font-size: 20px;
   right: 3%;
   }