<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 


<mapper namespace="com.project.sns.mapper.addrMapper">
		<insert id="inputAddr" parameterType="java.util.List">
			insert into TourMap(contentTypeId, contentId, title, tel, addr1, firstimage, firstimage2, cat2, cat3, mapx, mapy)
			values
			<foreach collection="list" item="item" separator=",">
				(#{item.contentTypeId}, #{item.contentId}, #{item.title, jdbcType=VARCHAR}, #{item.tel, jdbcType=VARCHAR}, #{item.addr1, jdbcType=VARCHAR}, #{item.firstimage, jdbcType=VARCHAR}, #{item.firstimage2, jdbcType=VARCHAR}, #{item.cat2, jdbcType=VARCHAR}, #{item.cat3, jdbcType=VARCHAR}, #{item.mapx, jdbcType=VARCHAR}, #{item.mapy, jdbcType=VARCHAR})
			</foreach> 
		</insert>
		
		<insert id="inputAddrCat" parameterType="java.util.List">
			insert into TourMapCat(contentId, areacode, sigungucode)
			values
			<foreach collection="list" item="item" separator=",">
				(#{item.contentId}, #{item.areacode, jdbcType=VARCHAR}, #{item.sigungucode, jdbcType=VARCHAR})
			</foreach> 
		</insert>
		
		<delete id="deleteAddr" parameterType="com.project.sns.addr.vo.AddrVO">
			delete from TourMap <where>cat2=#{cat2}</where>
		</delete>
		
		
		 <select id="getTourBoard" parameterType="int" resultType="AddrVO" >
			select * 
			from TourMap
			LIMIT #{index},10;
		</select>
		
		
		<select id="getBoardList" resultType="ReplyVO" parameterType="int">
			select * from Reply
			<where>
				board_seq = #{board_seq}
			</where>
		</select>
		
	
		
		
		
</mapper>