<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 


<mapper namespace="com.project.sns.mapper.boardMapper">
		 <select id="getBoardList" parameterType="int" resultType="BoardVO" >
			select * 
			from Board b, TourMap t
			where b.title = t.title 
			LIMIT #{index},3; 
		</select>
		
		<select id="getBoardCount" parameterType="int">
			select count(*) from board
			<where>
				line_seq = #{line_seq}
			</where>
		</select>	
			
		<select id="getBoardValue" resultType="BoardVO" parameterType="int">
			select * from board
			<where>
				board_seq = #{board_seq}
				and
				line_seq = #{line_seq}
			</where>
		</select>
		<update id="upBoardHeart" parameterType="BoardVO" >
			update board set heart = heart+1 and heart_id = heart_id
			<where>
				board_seq = #{board_seq}
				and
				line_seq = #{line_seq}
			</where>
		</update>
		
		<insert id="inputBoard" parameterType="BoardVO">
			insert into board(board_seq, line_seq, title, writer, content, regdate, heart)
			values(8, 1, #{title}, 'kimit93', #{content}, sysdate(), 0)	
		</insert>
		
		
	   <select id="getBoardReply" parameterType="int" resultType="ReplyVO">
	     select rcontent,rwriter   
	     from Reply 
	     where board_seq = #{board_seq}
	     order by reply_seq  
	   </select>	
		
    <insert id="insertReply" parameterType="ReplyVO">
      insert into reply (Board_seq, Reply_seq,       rwriter, rcontent) values
      ( #{Board_seq},Reply_seq.nextval,#{rwriter},#{rcontent}   )
   </insert>
		
</mapper>